[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "thirdparty/flatbuffers"]
	path = thirdparty/flatbuffers
	url = git@github.com:google/flatbuffers.git
[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = git@github.com:zeux/volk.git
