[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "thirdparty/flatbuffers"]
	path = thirdparty/flatbuffers
	url = git@github.com:google/flatbuffers.git
[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = git@github.com:zeux/volk.git
[submodule "thirdparty/shaderc"]
	path = thirdparty/shaderc
	url = git@github.com:google/shaderc.git
[submodule "thirdparty/SPIRV-Cross"]
	path = thirdparty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "thirdparty/SPIRV-Tools"]
	path = thirdparty/SPIRV-Tools
	url = git@github.com:KhronosGroup/SPIRV-Tools.git
[submodule "thirdparty/SPIRV-Headers"]
	path = thirdparty/SPIRV-Headers
	url = git@github.com:KhronosGroup/SPIRV-Headers.git
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "thirdparty/KTX-Software"]
	path = thirdparty/KTX-Software
	url = git@github.com:KhronosGroup/KTX-Software.git
[submodule "thirdparty/cgltf"]
	path = thirdparty/cgltf
	url = git@github.com:jkuhlmann/cgltf.git
[submodule "thirdparty/bc7e"]
	path = thirdparty/bc7e
	url = git@github.com:BinomialLLC/bc7e.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = git@github.com:nothings/stb.git
[submodule "thirdparty/zstd"]
	path = thirdparty/zstd
	url = git@github.com:facebook/zstd.git
[submodule "thirdparty/meshoptimizer"]
	path = thirdparty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
